<div class="wrapper"
     [formGroup]="form">
  <table #spreadTable
         tabindex="-1"
         class="spread-table table"
         id="spreadTable">
    <thead>
      <th *ngFor="let columnName of columnNames">{{columnName}}</th>
    </thead>
    <tr class="spread-row"
        *ngFor="let row of [].constructor(rowsNumber);let i = index">
      <td #spreadCell
          class="spread-cell"
          [ngClass]="isInEditMode(i,j) ? 'no-padding':''"
          *ngFor="let item of [].constructor(columnsNumber);let j = index">
        <div class="spread-cell-value"
             *ngIf="!isInEditMode(i,j)">{{columnValues[i][j]}}</div>
        <input *ngIf="isInEditMode(i,j)"
               style="width:100%;"
               type="text"
               class="cell-in-edit"
               (blur)="setCellValue(columnNames[j],i,j)"
               [formControlName]="columnNames[j]" />
      </td>
    </tr>
  </table>
</div>
