.wrapper {
  width: 80%;
  height: 80%;
  overflow: auto;
  border: 1px solid #dde2eb;
}

.body-wrapper {
  width: 100%;
  height: 100%;
}

.spread-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  outline: none;

  th {
    border-top: 1px solid #dde2eb;
    border-bottom: none;
    border-right: 1px solid #dde2eb;
  }

  td {
    border-right: 1px solid #dde2eb;
  }

  th:first-child,
  td:first-child {
    border-left: 1px solid #dde2eb;
  }

  .spread-thead {
    z-index: 99999;

    tr:nth-child(2) th {
      top: 42px;
    }

    th {
      border-bottom: 1px solid #dde2eb;
      background: #f8f8f8;
      min-width: 100px;
      position: sticky;
      top: 0;
    }
  }

  .spread-tbody {
    tr:nth-child(even) {
      background-color: #fcfcfc;
    }
  }

  &.header {
    width: calc(100% - 11px);
  }

  td {
    min-width: 100px;
    height: 24px;
    line-height: 24px;
    padding: 3px 8px;
    user-select: none;
    word-wrap: break-word;

    &.no-padding {
      padding: 3px;
      padding-left: 3px;
      box-shadow: 0 1px 4px 1px #00000013;
    }

    &.selected {
      background-color: rgb(219, 242, 255);
    }

    .spread-cell {}

    .cell-in-edit {
      height: 100%;
      outline: none;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}
