<div class="wrapper"
     [formGroup]="form">
  <table #spreadTable
         tabindex="-1"
         class="spread-table table"
         id="spreadTable">
    <thead class="spread-thead">
      <tr>
        <th *ngFor="let columnName of columnNames">{{columnName}}</th>
      </tr>
      <tr>
        <th *ngFor="let columnName of columnNames"><input class="w-100"
                 type="text"
                 disabled /></th>
      </tr>
    </thead>
    <tbody class="spread-tbody">
      <tr class="spread-row"
          *ngFor="let row of [].constructor(rowsNumber);let i = index">
        <td #spreadCell
            class="spread-cell"
            (dblclick)="doubleClick(i,j)"
            (mousedown)="cellClick($event,i,j)"
            (mouseover)="mouseOverCall(i,j)"
            [ngClass]="[isInEditMode(i,j) ? 'no-padding':'',
            ((selectedCellCoordinates?.rowIndex === i && selectedCellCoordinates?.columnIndex === j) ||getDataCell(i,j)?.selected ) ? 'selected' : '']"
            *ngFor="let item of [].constructor(columnsNumber);let j = index">
          <div class="spread-cell-value text-truncate"
               [style.width]="columnWidth + 'px'"
               *ngIf="!isInEditMode(i,j)">{{getDataCell(i,j)?.value}}</div>
          <input *ngIf="isInEditMode(i,j)"
                 type="text"
                 class="cell-in-edit w-100"
                 (blur)="setCellValue(columnNames[j],i,j)"
                 [formControlName]="columnNames[j]" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
