<virtual-scroller #scroll
                  [stripedTable]="true"
                  [enableUnequalChildrenSizes]="true"
                  [items]="data">
  <div #spreadWrapper
       class="wrapper"
       [formGroup]="form">
    <table #spreadTable
           tabindex="-1"
           class="spread-table"
           id="spreadTable">
      <thead #header
             class="spread-thead">
        <tr>
          <th>Index</th>
          <th [width]="column.width || '20px'"
              *ngFor="let column of columns">{{column.displayName}}</th>
        </tr>
      </thead>
      <tbody #container
             class="spread-tbody">
        <tr class="spread-row"
            *ngFor="let row of scroll.viewPortItems;let i = index">
          <td style="width: 10px;">{{row.rowIndex}}</td>
          <td #spreadCell
              class="spread-cell"
              (contextmenu)="openContextMenu($event,row.cells[j]);"
              (dblclick)="column.editable ? doubleClick(row.cells[j]) : ''"
              (mousedown)="cellClick($event,row.cells[j])"
              (mouseover)="mouseOverCall(row.cells[j])"
              [ngClass]="[isInEditMode(row.cells[j]) ? 'no-padding':'',
            row.cells[j]?.selected  ? 'selected' : '',
            !isInEditMode(row.cells[j]) && row.cells[j].errors?.length > 0 ? 'border-error tooltip' : '']"
              *ngFor="let column of columns;let j = index">
            <div *ngIf="!isInEditMode(row.cells[j]) && row.cells[j].errors?.length > 0"
                 class="tooltiptext"
                 [innerHtml]="getCellErrors(row.cells[j])"></div>
            <div class="spread-cell-value hideextra"
                 [style.width]="column.width || '100px'"
                 *ngIf="!isInEditMode(row.cells[j])">
              {{getCellValue(row,column.name)}}
            </div>
            <input *ngIf="isInEditMode(row.cells[j])"
                   type="text"
                   class="cell-in-edit w-100"
                   (blur)="setCellValue(columns[j],row.cells[j])"
                   [formControlName]="columns[j].name"
                   [ngClass]="{'':form.get(columns[j].name)?.invalid}" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</virtual-scroller>
<app-context-menu #contextMenu
                  *ngIf="contextMenuItems.length > 0 && isDisplayContextMenu"
                  [contextMenuItems]="contextMenuItems"
                  (onContextMenuItemClick)="handleMenuItemClick($event)"></app-context-menu>
