$red:rgb(170, 9, 44);

.wrapper {
  width: 100%;
  height: 100%;
}

virtual-scroller {
  width: 100%;
  height: 100%;
}

.hideextra {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spread-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  outline: none;
  padding-right: 1px;

  th {
    border-top: .2px solid #dde2eb;
    border-bottom: none;
    border-right: .2px solid #dde2eb;
    height: 36px;
    padding: 3px 8px;
    text-align: left;
    cursor: default;
  }

  td {
    border-right: 1px solid #dde2eb;
    border-bottom: 1px solid #dde2eb;
  }

  th:first-child,
  td:first-child {
    border-left: .2px solid #dde2eb;
  }

  .spread-thead {
    z-index: 99999;

    tr:nth-child(2) th {
      top: 42px;
    }

    th {
      border-bottom: .2px solid #dde2eb;
      background: #f8f8f8;
      //min-width: 100px;
      // position: sticky;
      // top: 0;
    }
  }

  .spread-tbody {
    tr:nth-child(even) {
      background-color: #fcfcfc;
    }
  }

  &.header {
    width: calc(100% - 1.2px);
  }

  td {
    height: 24px;
    line-height: 24px;
    padding: 3px 8px;
    user-select: none;
    word-wrap: break-word;
    background-color: #fff;
    transition: background-color 0.1s ease-in;

    &.no-padding {
      padding: 3px;
      padding-left: 3px;
      box-shadow: 0 .2px 4px .2px #00000013;
    }

    &.selected {
      background-color: rgb(219, 242, 255);
      transition: background-color 0.1s ease-in;
    }

    &.spread-cell {
      line-height: 24px !important;
    }

    .cell-in-edit {
      height: 100%;
      outline: none;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

.spread-table td.tooltip.border-error {
  background-color: #ff000030;
}

td {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: .8rem;
}

.tooltip.border-error .tooltiptext {
  background-color: $red;
}

.tooltiptext {
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  }
}

.tooltip.border-error .tooltiptext {
  &::after {
    border-color: transparent transparent $red transparent;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
