/* You can add global styles to this file, and also import other style files */
*:not(i) {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: Poppins,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Poppins,
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji" !important;
  color: #272b2d;
  font-size: .9rem;
}

html,
body {
  height: 100%;
  background-color: white;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 2px solid rgba(0, 0, 0, 0);

  background-clip: padding-box;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
